nav {
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  padding: 16px;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(8px);
  border-radius: 0 0 40px 40px;
  box-shadow: 0 0 16px var(--asphalt), inset 0 0 8px var(--asphalt);
  transition: var(--transition-smooth);

  svg,
  img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }

  ul {
    margin: 0;
    padding: 0;
    flex-direction: row;
  }

  li {
    min-width: 48px;
    height: 48px;
    padding: 0 16px;
    border-radius: 24px;
    transition: var(--transition-smooth);

    &.Home {
      padding: 0;
    }
  }

  li:hover {
    background-color: var(--blue);
  }

  .Account {
    padding: 0 16px 0 8px;
    cursor: pointer;
  }

  * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


footer {
  z-index: 10;
  width: 100vw;
  padding: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 80px 80px 0 0;
  box-shadow: 0 0 16px var(--asphalt), inset 0 0 8px var(--asphalt);
  transition: var(--transition-smooth);

  svg {
    width: 192px;
    height: 192px;
  }

  * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

body.mobile {
  nav {
    height: 64px;
    border-radius: 0 0 32px 32px;

    svg,
    img {
      width: 24px;
      height: 24px;
      border-radius: 12px;
    }

    ul.desktop {
      display: none;
    }

    li {
      min-width: 32px;
      height: 32px;
      padding: 0 8px;
      border-radius: 16px;
    }

    menu {
      display: none;
    }

    menu.open {
      top: 80px;
      left: 0;
      position: absolute;
      width: 100vw;
      padding: 16px;
      display: flex;
      flex-direction: column;
      background-color: var(--paper);
      border-radius: 40px;
      transition: var(--transition-smooth);
      box-shadow: 0 0 16px var(--asphalt), inset 0 0 8px var(--asphalt);
    }
  }

  footer {
    flex-direction: column;
  }
}